.img-film {
    width: 250px;
    border-radius: 20px;
}

.card-img {
    margin: 30px;
}

h1 {
    display: flex;
    justify-content: center;
}

.footer {
    display: flex;
    justify-content: center;
}

.footer a {
    text-decoration: none;
}

.loading {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.container-img {
    display: flex;
    margin-top: 55px;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
}